<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stavyah.edit" 
version="0.1.0"
versionCode = "1" 
xmlns="http://www.w3.org/ns/widgets" 
xmlns:gap   = "http://phonegap.com/ns/1.0" 
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EDIT</name>
    <description>
        An application for EDIT by Stavyah.
    </description>
    <author email="dev@cordova.apache.org" href="http://phonegap.com">
        R Team
    </author>
    
    <content src="index.html" />
    
    <preference name="permissions" value="none"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
  	<gap:plugin name="org.apache.cordova.file"/>
    <gap:plugin name="org.apache.cordova.network-information"/>
  	<gap:plugin name="org.apache.cordova.splashscreen"/>
    
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <!-- 
     <feature name="NetworkStatus">
	         <param name="android-package" value="CDVConnection" />
	 </feature>
     -->
    <!-- Enabling individual permissions -->
    <!-- 
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
     -->
	<!--     <plugin name="cordova-plugin-whitelist" spec="1.0.0" /> -->
	
	<!-- 
	<plugin name="io.litehelpers.cordova.sqlite" source="pgb" spec="0.7.10" />
	<plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.2.10" />
	<plugin name="org.apache.cordova.network-information" source="pgb" spec="0.2.12" />
	 -->
	
	<plugin name="cordova-plugin-whitelist" spec="1" />
	<plugin name="org.apache.cordova.dialogs" />
	<plugin name="org.apache.cordova.network-information"/>
	<plugin name="io.litehelpers.cordova.sqlite" />
	
	<!--     <access origin="*" /> -->
    <!-- New Addition 04Feb216 8:20pm -->
    <access origin="*"/>
    <allow-navigation href="*" />
    
    <allow-intent href="*" />
     
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
     
     <!-- <icon src="res/app_icon.png"/> -->
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="14"/> 
 		<preference name="android-targetSdkVersion" value="22"/>
 		
 		<!-- Icons By Resolutions -->
 		<icon src="res/android/app_icon_ldpi.png" density="ldpi" />
        <icon src="res/android/app_icon_mdpi.png" density="mdpi" />
        <icon src="res/android/app_icon_hdpi.png" density="hdpi" />
        <icon src="res/android/app_icon_xhdpi.png" density="xhdpi" />
 		
 		<!-- Splash Screen By Resolutions -->
 		<splash  src="res/android/splash_land_hdpi.png" density="land-hdpi" />
 		<splash  src="res/android/splash_land_ldpi.png" density="land-ldpi" />
        <splash  src="res/android/splash_land_mdpi.png" density="land-mdpi" />
        <splash  src="res/android/splash_land_xhdpi.png" density="land-xhdpi" />
        
        <splash  src="res/android/splash_port_hdpi.png" density="port-hdpi" />
 		<splash  src="res/android/splash_port_ldpi.png" density="port-ldpi" />
        <splash  src="res/android/splash_port_mdpi.png" density="port-mdpi" />
        <splash  src="res/android/splash_port_xhdpi.png" density="port-xhdpi" />
         
       <!--  <splash src="res/android/splash.png" /> -->
        
    </platform>
    <!-- 
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
     -->
     
    <preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="FadeSplashScreen" value="false"/>
</widget>
