body {
    margin: 0;
    padding: 0;
/*     font-size: 13px; */
    font-family: 'Titillium Web', sans-serif;
	font-size:14px;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-shadow: none !important; 
}

ol, ul {
    list-style: outside none none;
	margin: 0px auto;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

img {
    width: auto;
    max-width: 100%;
}
img, iframe {
    border: medium none;
    text-decoration: none;
}

.ui-panel {
   /*  top: -1px; */
}

/*
.ui-panel .ui-panel-inner,
.ui-panel-wrapper .ui-content {
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 1px;
    -webkit-overflow-scrolling: touch;
}
*/

.ui-panel-dismiss-open,
.ui-panel-page-content-open .ui-content {
    overflow-y: hidden;
}

.ui-panel-wrapper {
    height: 100%;
    /* top: -1px; */
    margin-bottom: -2px;
}

.ui-page {
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #fff !important;
	/*
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
	*/
}

.login-page .ui-panel-wrapper{
	background-color: #290450 !important;
}
.login-page .input-field .ui-input-text input {
    background-color: #290450;
	border-bottom: 1px solid #ffc100;
	color: #ffc100;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus {
	box-shadow:none;
}

/*  Default Input Field CSS Starts */
.ui-input-text input, .ui-input-search input {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    border-radius: inherit;
    margin: 0;
    min-height: 2.2em;
    text-align: left;
	/* padding: 0.1em 0; */
}

.input-field {
	margin: 0 10px 15px;
}
.input-field input:focus + .input-field > label {
    color: #33a !important;
}

.input-field label {
    color: #999 ;
    font-size: 11px;
    left: 0;
    top: 0;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}
.input-field .ui-input-text {
    border: 0 none;
}
.input-field .ui-input-text input {
    background-color: #fff;
    border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #555;
	margin: 0;
	color: #ffc100;
}

.input-field .ui-input-text input:focus, .input-field .ui-input-search input:focus {
    box-shadow: none;
}

.input-field .ui-corner-all {
    border-radius: 0;
}

/*  Default Input Field CSS Starts */

.form-container .ui-btn{
	left: 4%;
    width: 80%;
	text-transform: uppercase;
}
.ui-btn .ui-input-btn .ui-btn-a {
	color: #fff !important;
	font-weight: normal !important;
}

.ui-btn-right.right-space{
	margin-right: 10px;
}

/*-----------------------------*/


/*  Old Styles may be reusable */

.my-breakpoint.ui-grid-a .ui-block-a { width: 79.95%; }
.my-breakpoint.ui-grid-a .ui-block-b { width: 19.925%; }

.mini-btn {
    font-size: 12.5px;
}

#logo{
    width:70%;
    max-width:206px;
    margin:35px 0 40px;
}
.centerText{
    text-align:center;
}

.timer-div{
	font-size:16px;
}

#endTimerDiv {
    display:none;
}

.login-box {
	
	/*
		padding: 10px 60px 60px;
	  background: url("../img/lockscreen.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	  color: #FFFFFF;
	  border-radius: 7px 7px 7px 7px;
	  margin: 50px auto;
	  
	  position: relative;
	  min-height: 300px;
  */
}
/*
.app-header-section,.app-footer-section,  
.ui-header,.ui-footer, a[class^='ui-btn-up-'], a[class*=' ui-btn-up-'], a[class^='ui-bar-'], a[class*=' ui-bar-'],a[class^='ui-btn-hover-'], a[class*=' ui-btn-hover-'] 
{
	 background: #290450 none repeat scroll 0 0;
	 border: 1px solid #290450 !important;
} 
*/

/* .app-header-section,.app-footer-section{ */

.ui-header,.ui-footer{
	 background: #290450 none repeat scroll 0 0 !important;	
	 border: 5px solid #290450 !important;
	 color: #fff !important;
}

.ui-header h1{
	font-weight: normal ;
}

.ui-header .ui-btn{
	 background: #290450 none repeat scroll 0 0 !important;	
	 /*border: 1px solid #290450 !important;*/
	 box-shadow:0;	 
}
.ui-header .ui-shadow {
    box-shadow: 0 1px 3px #290450 !important;
}

a.app-link,div.ui-btn-a,div.ui-btn-hover-a,a.ui-btn-a,a.ui-btn-hover-a{
    background: #ffc100 none repeat scroll 0 0 !important;
    border: 1px solid #290450;
	/* color: #fff !important; */
	font-weight: 600;
	border:0 none;
}

td.td-danger {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
}

table th,table td {vertical-align: inherit !important;}

a {
    color: #5e87b0;
    text-decoration: none;
}
.pull-right{float: right;}
.pull-left{float: left;}
.text-align-right{text-align: right;}
.text-align-center{text-align: center;}

.text-purple{color:#a696ce;}
.text-pink{color:#db5e8c;}


.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}

.sales-table-div{
	margin-bottom: 10px;
}
.display-none{
	display: none;
}

hr.style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.small-custom-input{
    width: 75px !important;
}

.home-page-menu-ul li a{
	font-size: 14px;
}

.ui-field-contain{
	border-bottom: 0px !important;
}
.add-log-time-main-div .ui-field-contain label{
	display: inline-block;
    vertical-align: middle;
    min-width: 30%;
}
.add-log-time-main-div .ui-field-contain.time-input-div .ui-input-text{
	display: inline-block;
    vertical-align: middle;
    width: 19% !important;
}
.add-log-time-main-div .ui-field-contain.time-input-div .input-div{
	display: inline-block;
    vertical-align: middle;
    width: 65% !important;
}
.add-log-time-main-div .ui-field-contain .ui-input-text{
	display: inline-block;
    vertical-align: middle;
    width: 54% !important;
}
.add-log-time-main-div .ui-field-contain .ui-select{
	display: inline-block;
    vertical-align: middle;
    width: 65% !important;
}


/* Panel Menu CSS Starts */
.menu-title {
	border-bottom: 1px solid #000;
    height: 35px;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}

#menu-wrapper {
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 100%;
    width: 272px;
    background: none repeat scroll 0% 0% #303135 ;
    color: #FFF;
    position: absolute;

}

.menu > li.home:before {
    background-image: url("../img/icons/home.png");
}
.menu > li.book:before {
    background-image: url("../img/icons/book.png");
}
.menu > li.assignment:before {
    background-image: url("../img/icons/assignment.png");
}
.menu > li.available:before {
    background-image: url("../img/icons/available.png");
}
.menu > li.institute:before {
    background-image: url("../img/icons/institute.png");
}
.menu > li.external:before {
    background-image: url("../img/icons/external.png");
}
.menu > li.seminar:before {
    background-image: url("../img/icons/seminar.png");
}
.menu > li.timetable:before {
    background-image: url("../img/icons/timetable.png");
}
.menu > li.scholarship:before {
    background-image: url("../img/icons/scholarship.png");
}
.menu > li.descipline:before {
    background-image: url("../img/icons/descipline.png");
}
.menu > li.achievement:before {
    background-image: url("../img/icons/achievement.png");
}
.menu > li.desciplines:before {
    background-image: url("../img/icons/desciplines.png");
}
.menu > li.profile2:before {
    background-image: url("../img/icons/profile2.png");
}
.menu > li.holiday:before {
    background-image: url("../img/icons/holiday.png");
}
.menu > li.master_document:before {
    background-image: url("../img/icons/master_document.png");
}
.menu > li.password:before {
    background-image: url("../img/icons/password.png");
}
.menu > li.logout:before {
    background-image: url("../img/icons/logout.png");
}

.menu > li.icon:before, .menu > li ul li:before {
    background-size: 25px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #290450;
    width: 40px;
    height: 48px;
    display: block;
    position: absolute;
    left: 0px;
    content: "";
}

.menu > li {
    background: none repeat scroll 0% 0% #303135;
}


.menu ul li a, .menu > li a {
    height: 48px;
    width: 100%;
    display: block;
    position: relative;
}
a, a:visited, a:hover, a:link {
    text-decoration: none;
    color: #849AED;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.menu-li-title {
    font-size: 12px;
    margin-left: 55px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
}
.menu-li-title, #footer {
    font-family: Helvetica,Arial,sans-serif;
}

.menu-li-arrow {
    height: 16px;
    float: right;
    margin-top: 16px;
    margin-right: 12px;
    opacity: 0.45;
}

/* Panel Menu CSS Ends */

/* Notification Message CSS Starts */ 
.page_content {
    margin: 0 0 20px;
    padding: 0 5%;
    width: 90%;
}

ul.features_list_detailed {
    clear: both;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 10px 0 30px;
    width: 100%;
}



ul.features_list_detailed li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    clear: both;
    display: block;
    float: left;
    margin: 1px 0 10px -11px;
    padding: 10px;
    width: 100%;
}
ul.features_list_detailed li .feat_small_icon {
    float: left;
    width: 15%;
}
ul.features_list_detailed li .feat_small_icon img {
    display: inline-block;
    max-width: 90%;
}
.page_content img {
    display: block;
    margin: 0 0 20px;
    max-width: 100%;
}

ul.features_list_detailed li .feat_small_details {
    float: left;
    padding: 0 0 0 3%;
    width: 65%;
}



ul.features_list_detailed li .feat_small_details h5 {
    color: #535353;
    font-size: 15px;
    font-weight: 700;
    margin: 9px 5px 0;
    padding: 0 0 5px;
}

ul.features_list_detailed li .feat_small_details a {
    color: #8e9091;
    font-size: 13px;
    font-weight: normal;
}


ul.features_list_detailed li .view_more {
    float: left;
    margin: 8px 0 0 15px;
    width: 10%;
}


ul.features_list_detailed li .view_more img {
    display: block;
    max-width: 100%;
}
ul.features_list_detailed li .view_more a.ui-link-more {
    float:none;
}

.time_detail .time_sub ,.time_detail .sub_person {
    color: #8e9091;
    font-size: 12px;
}

.time_detail .sub_person {
    float: right;
}

.more_content.ui-content {
    background: #E2E2E2 none repeat scroll 0 0;
}

/* Notification Message Ends */



/* Home Page Dashboard Posts Starts */
.st-background {
    background-color: #e2e2e2;	
}

.atten, .div-block {
    background: #fff none repeat scroll 0 0;
    /* border: 1px solid #c6c6c6; */
    border-radius: 2px;
    float: left;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    word-wrap: break-word;
}
.div-block-container{
	padding: 10px;	
}

.div-block .div-block-data {
	margin-top: 15px;
}

.div-block .div-block-data.bottom-border, .bottom-border{
	border-bottom: 1px solid #cfcfcf;
}

.atten h5,.div-block .div-block-header .heading {
    color: #48484f;
    left: 15px;
    position: relative;
    top: 5px;
    /* margin-top: 18px; */
}

.atten > img , .div-block .div-block-header .heading-icon {
    float: left;
   /*  padding: 15px; */
}

.atten p, .div-block .div-block-data .message { 
	color: #6f7274;
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 45px;
    word-wrap: break-word;
   /*  color: #9b9ea0;
    font-size: 13px;
    margin-left:50px;
    padding: 5px; */
}

.div-block .div-block-data .bold { 
    font-weight: bold;
}

.div-block .div-block-footer {
    padding: 5px;
}

.div-block .div-block-footer .link{
	color: #009688;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 10px;
}

.div-block .div-block-footer .link.left {
    float: left;
}

.div-block .div-block-footer .link.right {
    float: right;
}

.msg-icon{
    background: rgba(0, 0, 0, 0) url("../img/icons/image1.png") no-repeat scroll right center;
    display: inline-block;
    float: left;
    height: 32px;
    margin: 10px;
    width: 32px;
}
.msg-icon.icon1 {
    background-position: -96px 0;
}
.msg-icon.icon2 {
    background-position: -160px center;
}
.msg-icon.icon3 {
    background-position: -128px center;
}
.msg-icon.icon4 {
    background-position: -192px 0;
}

.msg-icon.icon5 {
    background-position: -224px center;
}
.msg-icon.icon6 {
    background-position: 0;
}
.msg-icon.icon7 {
    background-position: -32px center;
}


.menu .profile-detail {
    border-bottom: 1px solid #000;
    padding: 6px;
    padding-bottom: 10px;
}

.menu .profile-detail .person_details{
	border-bottom: 1px solid #6c6c6c;
	padding: 0 0 5px;
	
    /* margin-top: 10px;
    text-align: center; */
}

.menu .profile-detail .circular {
    background: rgba(0, 0, 0, 0) url("../img/icons/network.png") no-repeat scroll 0 0;
    border: 1px solid #009688;
    border-radius: 75px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 108px;
    width: 50px;
}

.menu .person_details .name {
    color: #fff;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: 72px;
    margin-right: 30px;
}

.menu .person_details a.edit-link {
    height: auto;
}

.per_mail {
    margin-right: 12px;
}
.sub_info > img {
   /*  margin-left: 5px;
    margin-right: 8px; */
    float: left;
}


.sub_info .details-data {
    /* color: #009688;
    font-size: 12px;
    vertical-align: top; */
     font-size: 12px;
    margin-left: 10px;
    vertical-align: top;
    word-wrap: break-word;
}

.sub_info {
   /*  margin-bottom: 5px;
    margin-left: 10px; */
    padding: 7px 5px 0px;
}

#toTop {
    background: rgba(0, 0, 0, 0) url("../img/icons/info4.png") no-repeat scroll 0 0;
    bottom: 45px;
    cursor: pointer;
    height: 35px;
    left: 20px;
    position: fixed;
    width: 35px;
    z-index: 999;
}


/* Home Page Dashboard Posts Ends */


/* html, body, div, span, applet, object, iframes,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    /*box-sizing: border-box; */
}

/* body {
    background-color: #EEE;
} */

footer {
    position: absolute;
    left: 50%;
    bottom: 2%;
    letter-spacing: 1px;
    color: #212121;
    font-size: 12px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer a {
    text-decoration: none;
    border-bottom: solid 1px #E91E63;
    color: #E91E63;
}
#wrapper {
    bottom: 112px;
    overflow: hidden;
    position: fixed;
    width: 100%;
	left:0;
	z-index:100000
}

.button {
    position: relative;
    border-radius: 50%;
    margin-bottom: 18px;
}
.button:last-child {
    margin-bottom: 0;
}
.button-floating::before {
    content: "+";
}
.button-floating, .button-floating-shadow {
    width: 54px;
}
.button-floating {
    background: rgba(0, 0, 0, 0) url("../img/info4.png") no-repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 0;
    line-height: 54px;
    text-align: center;
    transition-duration: 0.3s;
    z-index: 999;
	background-position:center;
	position:fixed;
	bottom:0;
	right:0;
	}
.button-floating-shadow {
    position: absolute;
    z-index: 20;
    top: 24px;
    border-radius: 50%;
}
.button-sub:hover, .button-floating:hover + .button-floating-shadow, .button-floating-clicked .button-floating-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.button-sub {
    opacity: 0;
    z-index: 20;
    left: 6px;
    width: 42px;
    height: 42px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.button-floating-clicked-out .button-sub {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.button-floating-clicked .button-sub {
    opacity: 1;
    cursor: pointer;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.button-sub[data-color="purple"] {
    animation-delay: 0.2s;
    background: rgba(0, 0, 0, 0) url("../img/info-icon/info-icon2.png") no-repeat scroll 0 0;
    bottom: 51px;
    left: 276px;
    position: fixed;
    right: 0;
}
.button-floating-clicked .button-sub[data-color=purple] {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.button-sub[data-color="green"] {
    animation-delay: 0.15s;
     background: rgba(0, 0, 0, 0) url("../img/info-icon/info-icon1.png") no-repeat scroll 0 0;
    bottom: 212px;
    left: 272px;
    position: fixed;
    right: 0;
}
.button-floating-clicked .button-sub[data-color=green] {
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}

.button-sub[data-color="pink"] {
    animation-delay: 0.1s;
     background: rgba(0, 0, 0, 0) url("../img/info-icon/info-icon2.png") no-repeat scroll 0 0;
    bottom: 162px;
    left: 272px;
    position: fixed;
    right: 0;
}
.button-floating-clicked .button-sub[data-color=pink] {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

.button-sub[data-color="indigo"] {
    animation-delay: 0.05s;
     background: rgba(0, 0, 0, 0) url("../img/info-icon/info-icon1.png") no-repeat scroll 0 0;
    bottom: 125px;
    left: 272px;
    position: fixed;
    right: 0;
}
.button-floating-clicked .button-sub[data-color=indigo] {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.button-floating-clicked.button-sub-purple-clicked .button-sub[data-color=purple],
.button-floating-clicked.button-sub-green-clicked .button-sub[data-color=green],
.button-floating-clicked.button-sub-pink-clicked .button-sub[data-color=pink],
.button-floating-clicked.button-sub-indigo-clicked .button-sub[data-color=indigo]{
    z-index: 0;
    cursor: default;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    -webkit-transform: scale(30);
    transform: scale(30);
}
.overlay {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
	display:none;
	cursor:pointer;
}
.contact-icon1, .contact-icon2, .contact-icon3, .contact-icon4 {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    opacity: 0.3;
    padding: 8px;
    position: fixed;
    right: 55px;
    text-align: center;
    width: 41%;
}
.contact-icon2{
	 bottom: 132px;
}
.contact-icon3{
	bottom: 185px;
}
.contact-icon4{
	bottom: 235px;
}

/* Profile CSS Strats */
.profile-col{background:#f7f7f7;}
.profile-container { background: none repeat scroll 0 0 #f7f7f7; border-left: 1px solid #dcdcdc; }
/* .profile-photo { float: left; margin: 0 20px 0 0;border: 1px solid #ddd; overflow: hidden;}  */
.profile-photo { float: left;margin: 0 20px 0 0; overflow: hidden;} 
.profile-photo .image{ width: 120px; height: 120px;}
.profile-info{color:#7c7c7c;font-size: 13px;margin-bottom: 10px;}
table.profile-info td{ padding: 2px 0;}
.profile-details {padding:0px; border-bottom:1px solid #dcdcdc; box-shadow:0 1px 0 0 #fff; margin-bottom: 10px;}
.profile-details .name{font-size:15px; font-weight:600; color:#404040;}
.profile-rel-info{padding:0px;font-size: 13px;margin-bottom: 10px;}
.profile-rel-info .rel-info-thumb{background:#1eb98f; width:65px; height:65px; float:left;text-align: center; color:#fff;}
.profile-rel-info .rel-info-thumb span{background:url(../img/icons/profile-rel-icons.png) no-repeat center 0; display: inline-block; height: 30px; margin: 9px 0 3px; vertical-align: top; width: 45px;}
.profile-rel-info.transport-info .rel-info-thumb span{background-position: center -30px;}
.profile-rel-info.awards-info .rel-info-thumb span{background-position: center -60px;}
.profile-rel-info .rel-info-list {border-right: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc;  padding-left: 64px; } 
.rel-info-list > li { border-bottom: 1px solid #dcdcdc; border-left: 1px solid #dcdcdc; min-height: 23px; padding: 4px 10px; } 
.rel-info-list > li  .call-icon{ background:url(../img/icons/profile-contact-icons.png) no-repeat 0 0; padding-left:25px;display:inline-block; margin-right:15px;min-height: 20px; } 
.rel-info-list > li  .email-icon{ background:url(../img/icons/profile-contact-icons.png) no-repeat 0 -20px; padding-left:25px; display:inline-block;min-height: 20px; } 
.transport-info .rel-info-list > li  p{ display:inline-block; width:33.33%;} 
.awards-info p  {overflow: hidden;}
.awards-info p span {float: right;}
.profile-tabs ul.nav-tabs{padding:0 20px;}
.profile-tabs ul.nav-tabs > li {margin-right: 2%;width: 49%;}
.profile-tabs ul.nav-tabs > li:last-child { /* float: right; */ margin-right: 0; } 
.profile-tabs .nav-tabs > li > a {padding:5px; text-align:center}
.profile-tab-content{padding:15px 20px;}

table.leave-description-table {font-size:12px;width: 100%;}
table.leave-description-table > tbody > tr > td, .table > tbody > tr > th{
    padding: 8px;
}

/* .leave-description-table td{border:0px !important;} */
.leave-description-table .reason{font-weight: 500;}
.leave-description-table .approve-type{text-align: right;}
.leave-description-table .approve-type.green{color:#006400; }
.leave-description-table .approve-type.red{color: #FF0000;}

.dynamicSparkbar canvas{width: 100%;}

/* Profile CSS Ends */

/* Header Logo Ends */
.ui-header a.edit-logo{
	padding: 0;
	border: 0;
}

.ui-header a.edit-logo img{
	height: 18px;
    margin-top: 8px;
    width: 55px;
}
/* Header Logo Starts */


.table-div{
	border-bottom: 1px solid #cfcfcf;
	font-size: 13px;
	padding-top: 10px;
}
.table-div > a {	
	font-weight: 500 !important ;
}
.table-div .date-time-details{
	padding-bottom: 10px;
    font-size: 14px;
    color: #5d5d5d;
}
.table-div .general-details{
	padding-bottom: 5px;
}

.table-div .general-details .name{
	 width: 90%;
} 
.table-div .general-details .img{
	float: left;
    height: 50px;
    margin-right: 10px;
}

.other-details{
	font-size: 12px;
	color: #5d5d5d;
}

.link-custom-span{
}

.link-custom-span a.delete-link{
	color: #ff0000;
}

.common-page-tab-heading {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* List user_list_detailed CSS Starts */

ul.user_list_detailed {
    clear: both;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 10px 0 30px;
    width: 100%;
}

ul.user_list_detailed li.user_list_li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 5px;
    /* 
    margin: 1px 0 10px -11px;
    padding: 10px;
     */
    width: 100%;
}

ul.user_list_detailed li.user_list_li .user-details{
	width: 100%;
	float: left;
}

ul.user_list_detailed li.user_list_li .user-img {
    float: left;
    width: 20%;
    padding: 2px;
}

ul.user_list_detailed li.user_list_li .user-img img {
    display: inline-block;
    max-width: 95%;
    height: 64px;
    width: 64px;
}

ul.user_list_detailed li.user_list_li .small_details {
    float: left;
    width: 60%;
}

ul.user_list_detailed li.user_list_li .small_details h5 {
    color: #535353;
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0 0;
    padding: 0 0 5px;
}

ul.user_list_detailed li.user_list_li .small_details a {
    color: #8e9091;
    font-size: 15px;
    font-weight: normal;
}

ul.user_list_detailed li.user_list_li .action_icon {
    float: left;
    width: 18%;
}

/* List user_list_detailed CSS Starts */

/* period-list-attendance-div CSS Starts */

.period-list-attendance-div {
   /*  height: 30px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0; */
}

.period-list-attendance {	
    margin: 10px 0 0 0;    
}
.period-list-attendance > li {
   	background: #ddd none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    width: 40px;
}
.period-list-attendance > li.selected {
    background: #fe6c6d none repeat scroll 0 0;
}

/* period-list-attendance-div CSS Starts */



